@media (min-width: 378px) {
    header {
        padding: 10%;
        padding-top: 28px;
        padding-bottom: 0px;
    }

    main {
        gap: 96px;
        padding: 10%;
        padding-top: 28px;
    }

    .yoga-header {
        display: flex;
    }

    .menu-options {
        display: flex;
        gap: 72px;
    }

    body:has(#dark-mode-toggle:checked) .menu-options > li > a {
        color: var(--dark---title-color, #D1C0F1);
    }

    .menu-icons {
        display: flex;
        gap: 72px;
    }

    #menu {
        display: none;
    }

    .hero-section {
        flex-direction: row;
        text-align: left;
    }

    .hero-content {
        width: 50%;
        padding-top: 45px;
        align-items: start;
        gap: 32px;
    }

    .hero-title {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        /* D - biggest-font-size */
        -webkit-text-stroke-width: 1;
        font-family: Lora;
        font-size: 96px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 124.8px */
    }

    .stats-container {
        justify-content: start;
        gap: 64px;
    }

    .stat-number {
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .stat-label {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .hero-images {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        max-height: 85vh;
        align-items: end;
        padding: 0;
    }

    .hero-section > img {
      width: auto;
      height: auto;
    }

    /* Feature section */
    .feature-section{
        display: flex;
        justify-content: space-between;
    }

    .feature-number {
        font-size: 56px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .feature-content {
        width: 400px;
        height: 180px;
    }

    .feature-image {
        width: 350px;
        height: 217.875px;
    }


    /* Health Section */
    .health-section {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .routine-content {
        width: 50%;
        align-items: center;
        justify-content: center;
    }

    .health-title {
        /* D - bigger-font-size */
        font-family: Lora;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /* Routine Section */
    .routine-section {
        flex-direction: row;
    }

    .routine-images {
        justify-content: center;
        align-items: center;
    }

    .routine-image {
        max-height: 90%;
    }

    .instagram-gallery {
        justify-content: space-between;
    }
    
    .instagram-gallery-2 {
        margin-top: 64px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .gallery-image {
        max-width: 30%;
        border-radius: 192px;
        border: 5px solid var(--first-color-light, #E5D9FD);
    }
    
    #yoga2 {
        margin-top: 0px;
    }
    
    #yoga3 {
        transform: rotate(15deg);
    }
    
    #yoga4 {
        transform: rotate(-15deg);
    }

    .newsletter-title {
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /* Footer */
    .footer {
        padding-left: 70px;
        padding-right: 70px;
    }

    .footer-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-content {
        flex-direction: row;
        gap: 72px;
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
    }
}