* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    background: #f5f0ff;
}

header {
    padding: 5%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 64px; /* Default gab between each session */
}

ul { 
    list-style-type: none;
}

li > a {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.primary-color {
    color: var(--title-color, #220953);
}

.secondary-color {
    color: var(--text-color, #4B3E65);
}

.tertiary-color {
    color: var(--text-color-light, #A197B4);
}

.quaternary-color {
    color: var(--white-color, #FFF);
}

.primary-font {
    font-family: Lora;
}

.secondary-font {
    font-family: Poppins;
}

.visually-hidden {
    display: none;
}

.yoga-header {
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.gradient-color {
    background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font: 500 20px Lora, sans-serif;
}

.menu-icons {
    display: flex;
    gap: 20px;
}

.menu-options {
    display: none;
}

.icon {
    width: 24px;
    height: 24px;
}

#theme-dark { 
    display: block;

}

#theme-light { 
    display: none;
}

#menu {
    fill: #220953;
}

.header-modal {
    display: none;
    padding: 12px;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #F5F0FF;
    z-index: 15;
}

body:has(#modal-menu-toggle:checked) .header-modal {
    display: flex;
}

.exit {
    align-self: flex-end;
}

body:has(#close-menu-toggle:checked) .header-modal {
    display: none;
}

.modal-menu {
    padding: 48px;
    padding-top: 72px;
}

.modal-menu-options {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: transparent;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.hero-title {
    font: 44px/59px Lora, sans-serif;
}

.yoga-text {
    display: inline-block;
    background: linear-gradient(to right, #FF1493, #a914ff);
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    transform: rotate(8deg);
    transition: all 0.3s ease;
    box-shadow: 2px 2px 10px rgba(255, 105, 180, 0.3);
    position: relative;
}
    
.hero-description {
    font: 400 15px Poppins, sans-serif;
}

.cta-button {
    background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
    border-radius: 64px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 28px;
    font: 500 15px Poppins, sans-serif;
    border-color: transparent;
}

.stats-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.stat-item {
    text-align: center;
}

.stat-number {
    font: 28px Lora, sans-serif;
}

.stat-label {
    font: 400 13px Poppins, sans-serif;
}

.hero-images { 
    width: 100%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image scales proportionally */
}

.feature-section {
    background: transparent;
}

.feature-number {
    font: 500 28px Lora, sans-serif;
}

.feature-content {
    background: #e5d9fd;
    border-radius: 200px;
    text-align: center;
}

.feature-image {
    width: 180px;
    position: relative;
}

.feature-description {
    font: 400 15px Poppins, sans-serif;
    margin-top: 46px;
    text-align: center;
}

.next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font: 500 15px Poppins, sans-serif;
    margin-top: 32px;
    text-align: center;
}

.health-section {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.health-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.health-title {
    font: 400 32px Lora, sans-serif;
    margin-bottom: 24px;
}

.health-description {
    font: 400 15px Poppins, sans-serif;
    margin-bottom: 32px;
}

.health-image-container {
    position: relative;
    margin-top: 31px;
}

.health-main-image {
    width: 100%;
}

.health-stat-box {
    background: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 8px 12px;
}

.heart-rate-box {
    top: 0;
    left: 8px;
}

.courses-box {
    bottom: 32px;
    right: 8px;
}

.stat-icon {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.stat-info {
    text-align: left;
}

.stat-label {
    font: 500 13px Poppins, sans-serif;
}

.stat-value {
    font: 400 12px Poppins, sans-serif;
}

.routine-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: transparent;
    text-align: center;
}

.routine-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.routine-title {
    font: 32px Lora, sans-serif;
    margin-bottom: 24px;
}

.routine-description {
    font: 400 15px Poppins, sans-serif;
    margin-bottom: 32px;
}

.routine-images {
    position: relative;
    display: flex;
    flex-direction: column;
}

.routine-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 192px;
    border: 10px solid var(--body-color, #F5F0FF);    
}

.routine-image:last-child {
    position: relative;
    top: -40px;
    left: 40px;
}

.routine-image-label {
    display: inline-flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 16px;
    background: var(--container-color, #FFF);

    position: absolute ;
}

.routine-image-label > span {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--gradient-color, linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#quality {
    top: 20px;
    left: 50vw;
}

#professional {
    top: 100vw;
}

.instagram-section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    align-items: center;
    justify-content: center;

    background: transparent;
    text-align: center;
}

.instagram-title {
    text-align: center;
    /* M - bigger-font-size */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.instagram-subtitle {
    background: var(--gradient-color, linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* M - bigger-font-size */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-follow {
    display: inline-flex;
    height: 88px;
    padding: 17px 17px 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;

    border-radius: 64px;
    background: var(--gradient-color, linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%));
}

.button-follow > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.instagram-profile {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin: 24px auto;
}

.instagram-gallery {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    align-items: center;
    justify-content: center;
}

.instagram-gallery-2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.gallery-image {
    max-width: 30%;
    border-radius: 192px;
    border: 5px solid var(--first-color-light, #E5D9FD);
}

#yoga2 {
    margin-top: 62px;
}

#yoga3 {
    transform: rotate(15deg);
}

#yoga4 {
    transform: rotate(-15deg);
}

.newsletter-section {
    background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
    border-radius: 32px;
    padding: 44px 16px;
    text-align: center;
}

.newsletter-title {
    font: 28px Lora, sans-serif;
    margin-bottom: 12px;
}

.newsletter-description {
    font: 400 15px Poppins, sans-serif;
    margin-bottom: 24px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.newsletter-input {
    background: #fff;
    border-radius: 48px;
    color: #a197b4;
    font: 400 12px Poppins, sans-serif;
    padding: 23px 24px;
    border-color: transparent;
}

.newsletter-button {
    background: var(--gradient-color, linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%));
    border-radius: 64px;
    box-shadow: 0px 4px 12px 0px rgba(91, 10, 255, 0.25);
    color: #fff;
    font: 500 15px Poppins, sans-serif;
    padding: 20px 0;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.footer {
    background: #1e0849;
    font: 400 15px Poppins, sans-serif;
    padding: 48px 24px 32px;
}

.footer-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-tuple {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-section-title {
    font: 400 20px Lora, sans-serif;
}

.footer-info {
    margin-bottom: 40px;
}

hr {
    all: unset;
}

.footer-divider {
    background: #A197B4;
    height: 1px;
    margin-top: 39px;
    width: 100%;
    display: block;
}

.footer-bottom {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-social {
    display: flex;
    justify-content: center;
}

.footer-social-icon {
    width: 24px;
    height: 24px;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.copyright-icon {
    width: 13px;
    height: 13px;
    margin-right: 4px;
}


.yoga-text {
    display: inline-block;
    background: linear-gradient(to right, #FF1493, #a914ff);
    border-radius: 8px;
    transform: rotate(8deg);
    transition: all 0.3s ease;
    box-shadow: 2px 2px 10px rgba(255, 105, 180, 0.3);
    position: relative;
}

/* Use :has() to target parent element based on checkbox state */
html:has(#dark-mode-toggle:checked) {
  background: var(--dark---body-color, #14092A);
}

/* Use :has() to target parent element based on checkbox state */
html:has(#dark-mode-toggle:checked) .header-modal {
    background: gray;
}

body:has(#dark-mode-toggle:checked) .cta-button {
  background: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
  color: #fff;
}

body:has(#dark-mode-toggle:checked) .footer {
  background: transparent;
}

body:has(#dark-mode-toggle:checked) .primary-color {
    color: var(--dark---title-color, #D1C0F1);
}

body:has(#dark-mode-toggle:checked) .secondary-color {
    color: var(--dark---text-color, #A094B8);
}

body:has(#dark-mode-toggle:checked) .tertiary-color {
    color: var(--text-color-light, #A197B4);
}

body:has(#dark-mode-toggle:checked) .quaternary-color {
    color: var(--white-color, #FFF);
}

body:has(#dark-mode-toggle:checked) #theme-dark {
    display: none;
}

body:has(#dark-mode-toggle:checked) #theme-light {
    display: block;
}

body:has(#dark-mode-toggle:checked) #menu {
    fill: var(--dark---title-color, #D1C0F1);
}



